/* you will add css rules for element selectors and IDs */

/* you may add to or change the body rule */
@media screen {max-width: 600px;
}
body {
    font-family: sans-serif;
    color: #fff;
    background: #000;
}
#stagbeetle {
    background-color:#B26219;
}
#ladybug {
    background-color:#FFD5AE;
}
#bluemintbeetle {
    background-color:#FFBD82;
}
img {
    max-width: 100%; /* DO NOT delete or change this line */
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
p {
    max-width: 50%;
    background-color: #fff;
    color: #000;
}
h2 {
    text-align: center;
}
p {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

footer { 
    footer > p 
}
    header {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }

/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #379CB2;
}
a:hover {
    color: #82E8FF;
}
